:root {
    --azul-trilhas: rgba(33, 53, 166, 0.93);
    --azul-escuro: rgba(65, 33, 184, 1);
}

* { 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-weight: 400;
}

p, h1 {
    color: black;
}



/*ÁREA DOS CABEÇALHOS*/
header{
    display: flex;
    flex-direction: column;
}

.menu-navegacao{
    background-color: blue;
    width: 100%;
}

.menu_titulo{
    display: flex;
    justify-content: center;
    padding: 2%;
    gap: 30px;
    
    
    #img-logo-trilhas{
        height: 31px;
    }

    .texto-cabecalho {
        max-width: 700px;
        text-align: center;
        font-weight: 300;
        font-size: 2rem;
        color: white;
    }
}

#menu_links_background{
    max-width: 100%;
    background-color: var(--azul-escuro);
}

.menu_links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
    
    a{
        width: 200px;
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 1);
        transition: 0.5s;
        text-align: center;
        flex-grow: 1;
        padding: 1% 0;
        text-decoration: none;
    }

    a:hover {
        background-color: white;
        font-size: 1.6rem;
        transition: 0.5s;

    }
    
}

#btn_mobile{
    display: none;
}

.menu-saude {
    background-color: #E53935;
}

.menu-saude nav {
    background-color: #EF5350;
}

.menu-educacao {
    background-color: #fbd56c;
}

.menu-educacao nav {
    background-color: #FEEBC1;
}

/**/

main {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    max-width: 1000px;
    width: auto;
    display: flex;
    justify-content: center;

    padding: 2% 2% 70px 2%;
}


.secao_home {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.titulo_pagina p {
    color: rgba(38, 55, 242, 0.99);
    font-size: 2rem;
}


.text-intro {
    color: rgba(0, 0, 0, 0.93);
    font-size: 1.4rem; 
}

.btn_servicos {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding-top: 1%;
    
    button{
        cursor: pointer;
        background-color: rgba(33, 51, 166, 1);
        border-radius: 8px;
        border: none;

        width: 100%;
        height: 50px;

        font-size: 1.2rem;
        text-decoration: none;
        text-align: center;
        color: white;
    }

    button:hover{
        font-size: 1.5rem;
        transition: 0.5s;
    }
    
}

/*SAÚDE*/
.imagens-saude {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.imagens-saude img{
    height: 300px;
    aspect-ratio: 4/3;
}

.link-bloco {
    text-decoration: none;
    display: inline-block;
}
  
.bloco-cidadao {
    background-color: #00DDEB;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    color: #2E00A0;
    transition: transform 0.2s;
    height: 100%;
}

.bloco-cidadao:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.icon {
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
    color: black;
}

.bloco-cidadao h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 2px;
}

.bloco-cidadao p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    letter-spacing: 1.5px;
    line-height: 1.4;
}

.bloco-profissionais {
    background-color: #86C8DC;
    padding: 20px;
    border-radius: 8px;
    width: 280px;
    text-align: center;
    color: #0B0B49; 
    transition: transform 0.2s;
    height: 100%;
}

.bloco-profissionais:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.bloco-profissionais .icon {
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
    color: black;
}

.bloco-profissionais h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 2px;
}

.bloco-profissionais p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    letter-spacing: 1.5px;
    line-height: 1.4;
}

.blocos-saude {
    align-items: stretch;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}



/*Mobile*/
@media (max-width: 900px) {
    .menu_titulo{
        .texto-cabecalho{
            font-size: 1.5rem;
        }
    }
    .menu_links{
        a{
            font-size: 1.3rem;

        }
        
    }
    
}
